<div class="navbar-wrapper nav-background">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span><%= image_tag "landing/logowhite.png", class:"logo" %>Property Cash Flows<span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="page-scroll" href="#page-top">Home</a></li>
                    <li><a class="page-scroll" href="#features">HOW IT WORKS</a></li>
                    <li><a class="page-scroll" href="#testimonials">Testimonials</a></li>
                    <li><a class="page-scroll" href="#pricing">Pricing</a></li>
                    <li><a class="page-scroll" href="#contact">Contact</a></li>
                    <li><a class="page-scroll" target="_blank" href="https://blog.propertycashflows.com/">Blog</a></li>

                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
<div class="carousel-inner" role="listbox">
    <div class="item active">
        <div class="container">
            <div class="carousel-caption">
                <h1>Real Estate<br/>
                    Strategies To Increase<br/>
                      Your Cash Flow</h1>
                <p> At Property Cash Flows it is our goal to fuse <br/>
                   smart investing with technology <br/>
                   to increase your cash flow. </p>
                <p>
                    <a class="btn btn-lg btn-primary page-scroll" href="#features" role="button">LEARN MORE</a>
                </p>
            </div>
            <div class="carousel-image wow zoomIn">

                <!-- <img src="<%= image_path('landing/laptop.png') %>" alt="laptop"/> -->
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back one"></div>

    </div>
</div>
</div>


<section id="features" class="container services">
<div class="row">
    <div class="col-sm-4">
        <h2>CASH FLOW CALCULATOR</h2>
        <p> Proprietary cash flow calculator that allows you to run cash flow scenarios on properties you already own or properties you are considering buying.</p>
        <p><a class="navy-link page-scroll" href="#pricing" role="button">Buy Now &raquo;</a></p>
    </div>
    <div class="col-sm-4">
        <h2>ASSESSMENT </h2>
        <p>Assessment for your qualification for IRS tax advantages that are available to investment property owners.</p>
        <p><a class="navy-link page-scroll" href="#pricing" role="button">Buy Now &raquo;</a></p>
    </div>
    <div class="col-sm-4">
        <h2>CASH FLOW TRACKER</h2>
        <p>Tracking and reporting technology accessible on both iOS and Android for all your applicable real property hours and expenses that allows you to qualify for the increased cash flow available to you through the US tax code.</p>
        <p><a class="navy-link page-scroll" href="#pricing" role="button">Buy Now &raquo;</a></p>
    </div>
</div>
</section>

<section  class="container features">
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>REAL TIME DASHBOARD<br/></h1>
        <p>Immediate access to all the necessary functions and reports required to increase your cash flow </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 text-center wow fadeInLeft">
        <div>
            <i class="fa fa-mobile features-icon"></i>
            <h2>Calculate</h2>
            <p>The proprietary PCF calculator allows you to run cash flow scenarios on properties you already own or properties you are considering buying.  Immediately determine your increased cash flow using the Property Cash Flows strategy.</p>
        </div>
        <div class="m-t-lg">
            <i class="fa fa-bar-chart features-icon"></i>
            <h2>Track</h2>
            <p>To comply with IRS rules you need to track your applicable investment real estate activities.  Our dashboard and mobile app give you the tools to meet the IRS requirements at your fingertips.</p>
        </div>
    </div>
    <div class="col-md-6 text-center  wow zoomIn">
        <img src="<%= image_path('landing/desktop_mobile.png') %>" alt="dashboard" class="img-responsive">
    </div>
    <div class="col-md-3 text-center wow fadeInRight">
        <div>
            <i class="fa fa-envelope features-icon"></i>
            <h2>Reporting</h2>
              <p>Not only can you keep tabs of your progress but our robust reporting gives you everything you will need to submit to your tax preparer and the IRS.</p>
        </div>
        <div class="m-t-lg">
            <i class="fa fa-cloud features-icon"></i>
            <h2>Analysis</h2>
            <p>You will have real time access to all of the data points needed to determine your eligibility and continued eligibility for your increased cash flow.  </p>
        </div>
    </div>
</div>
</section>

<section class="features">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Benefits</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center">
        </div>
        <div class="col-lg-6 text-center">
          <p>If you spend significant time each month managing your investment properties, whether it be collecting rents, interviewing prospective tenants, doing tenant improvements, looking for your next investment or many other real estate related activities, Property Cash Flows can make a HUGE difference in your everyday life by providing more cash flow!
          <br/><br/> With access to our assessment tools you will be able to determine what steps you need to take to qualify to increase your cash flow or if you already qualify today.</p>
          </div>
        <div class="col-lg-3 text-center">
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-3 features-text mobile-features-margin wow fadeInLeft">
            <h2>Assessment</h2>
            <p>Using our assessment questionnaire, determine your eligibility to take advantage of the IRS tax benefits for investment property owners.</p>

            <!-- <a href="#pricing" class="btn btn-primary page-scroll">Buy Now</a> -->
        </div>
        <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
            <img src="<%= image_path('landing/threephone.png') %>" class="img-responsive" alt="dashboard">
        </div>
        <div class="col-lg-3 features-text text-right wow fadeInRight">
            <h2>Cash Flow Calculator </h2>
            <p>Once you sign up with Property Cash Flows you will have access to our proprietary cash flow calculator.
              <br/><br/>By entering a few numbers that you likely already know, you will be able to calculate the increased cash flow you can expect by following the Property Cash Flows strategy.  Use the tool to determine the savings on properties you already own and on properties you are interested in acquiring.</p>
            <!-- <a href="#pricing" class="btn btn-primary page-scroll">Buy Now</a> -->
        </div>
    </div>
    <div class="row feature-block">
      <div class="col-lg-3 text-center">
      </div>
      <div class="col-lg-6 features-text wow fadeInLeft text-center">
        <h2>Cash Flow Tracker</h2>
         <p>As a registered member of Property Cash Flows you will learn the importance of keeping track of all your activities associated to real estate.
         <br/><br/>Once you sign up you will be able to download our mobile app (available on iOS and Android) to help you with the tracking and reporting necessary to comply with IRS code.  Our Cash Flow tracker takes the complexity out of the IRS code and creates more cash flow for you. </p>
          <a href="#pricing" class="btn btn-primary page-scroll">Buy Now</a>
      </div>
      <div class="col-lg-3 text-center">
      </div>
    </div>
</div>

</section>

<section class="timeline gray-section">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Eligibility and Qualification</h1>
            <p>Without making any changes to your investment property you may qualify today. * </p>
        </div>
    </div>
    <div class="row features-block">

        <div class="col-lg-12">
            <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-home"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>The Opportunity</h2>
                        <p>There is a sense of pride in owning real property --- there is also great opportunity!  Perhaps that’s why you are thinking about investing in real estate or why you already did.  As with any investment you want your money to work as hard as you do and you want it to be a profitable and successful venture.  There are a variety of ways to do this and one area that is underutilized is turning your passive real estate activities into non-passive activities.  By meeting certain IRS qualifications you can take your losses and depreciation and and offset them against your ordinary income.
                        And what does that mean for you....INCREASED CASH FLOW!</p>
                        <a href="#pricing" class="btn btn-primary page-scroll">Buy Now</a>
                        <span class="vertical-date"> Do you own investment property? <br/> <small>Thinking about it?</small> </span>
                    </div>
                </div>

                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-file-text"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>Property that works for you.</h2>
                        <p> For many real estate investors their properties are cash flow negative and they are considering selling or have a need to refinance to make the property ‘work’ for them.  But what if we told you that by making just a few adjustments you can turn your property into a cash flow positive asset?.  </p>
                        <a href="#pricing" class="btn btn-primary page-scroll">Buy Now</a>
                        <span class="vertical-date"> Can I really increase my cash flow? <br/> <small> Yes you can!</small> </span>
                    </div>
                </div>

                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-dollar"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>Assessment + Technology = More Cash Flow</h2>
                        <p>At Property Cash Flows we leverage a simple strategy, sophisticated cash flow optimization techniques and proprietary technology to increase your cash flows.  This is a proven strategy that has been used for years by thousands of real estate investors that increases cash flow without making any changes to your property, ownership, financing, tenants, rents, management or maintenance.  Our proprietary software will immediately calculate the increase in cash flow you can expect and our assessment tool will guide you through the steps of qualification. </p>
                        <a href="#pricing" class="btn btn-primary page-scroll">Buy Now</a>
                        <span class="vertical-date"> Use our tech to increase<br/> <small>CASH FLOW!</small> </span>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

</section>

<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center wow zoomIn">
            <i class="fa fa-comment big-icon"></i>
            <h1>
                What our CPAs are saying
            </h1>
            <div class="testimonials-text">
                <i>" I’m comfortable with my clients utilizing this tax advantage now that there is a trusted 3rd party to help them qualify and adhere to the rules of the tax code.  This software is a must for anyone looking to increase cash flow from their investment real estate."</i>
            </div>
            <small>
                <strong>- Ronald CPA</strong>
            </small>
        </div>
    </div>
</div>

</section>

<section class="comments gray-section" style="margin-top: 0">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>What investors say</h1>
            <p>This strategy works. </p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-4">
            <div class="bubble">
              "I’ve worked in real estate for over 25 years and had never heard about this tax advantage.  Everyone who owns investment property should utilize the Property Cash Flows strategy."
            </div>
            <div class="comments-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="<%= image_path('landing/avatar3.jpg') %>">
                </a>
                <div class="media-body">
                    <div class="commens-name">
                       Jen - Real Estate Agent
                    </div>
                    <small class="text-muted"></small>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="bubble">
              "I own multiple properties and have a hard time keeping track of my time and expenses on each property.  Now with Property Cash Flows I can track and report on all my rental properties and I have significantly increased my cash flow."
            </div>
            <div class="comments-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="<%= image_path('landing/avatar1.jpg') %>">
                </a>
                <div class="media-body">
                    <div class="commens-name">
                        Rick  - Broker
                    </div>
                    <small class="text-muted"></small>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="bubble">
              "I was thinking about selling my rental property.  Now with Property Cash Flows my property is cash flow positive and I’m looking for my next investment property to turn my retirement into a reality."
            </div>
            <div class="comments-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="<%= image_path('landing/avatar2.jpg') %>">
                </a>
                <div class="media-body">
                    <div class="commens-name">
                        Andrew - Real Estate Investor
                    </div>
                    <small class="text-muted"></small>
                </div>
            </div>
        </div>



    </div>
</div>

</section>


<section id="pricing" class="pricing">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Simple Pricing. No Hidden Fees.</h1>
            <h1>Free Upgrades. Period.</h1>
            <h2>Pre-order today to get 50% off </br> for a full year!</h2>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-4  wow zoomIn">
        </div>

        <div class="col-lg-4 wow zoomIn">
            <ul class="pricing-plan list-unstyled selected">
                <li class="pricing-title">
                    $19.99

                    <span class="pricing-text">per month</span>

                </li>
                <li class="pricing-desc">
                    No surprises. No complicated list of features that cost extra. Everything you need to increase your cash flow from your real estate investments.
                <li>
                    Mobile and Desktop Activity Tracking
                </li>
                <li>
                   Cash Flow Calculator
                </li>
                <li>
                    Real-Time Reporting
                </li>
                <li>
                   Expense Tracking with Photo Uploads
                </li>
                <li class="plan-action">
                <a class="btn btn-primary btn-xs" data-ct-checkout="property-cash-flows.pre-order-19-99-month--3"href="#">Pre-Order</a>
                </li>
                <li class="pricing-title">
                  <h4>Billed Annually</h4>
                  <h3>30-day Money Back Guarantee</h3>
                </li>
            </ul>

        </div>

        <div class="col-lg-4 hide wow zoomIn">

        </div>
    </div>
    <div class="row m-t-lg">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
        </div>
    </div>
</div>

</section>

<section id="contact" class="gray-section contact">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Contact Us</h1>
        </div>
    </div>
    <div class="row m-b-lg">
        <div class="col-lg-3 col-lg-offset-3">
            <address>
              <%= image_tag 'landing/pcf_favicon.png' %> <strong><span class="navy">Property Cash Flows</span></strong>

            </address>
        </div>
        <div class="col-lg-4">
            <p class="text-color">
              P.O. Box 781<br/>
              Santa Barbara, CA 93102
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            Contact Us Today @ <a href="mailto:info@propertycashflows.com">info@propertycashflows.com</a>
            <p class="m-t-sm">
                Or follow us on social
            </p>
            <ul class="list-inline social-icon">
                <li><a href="https://twitter.com/propcashflows"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="https://www.facebook.com/propertycashflows"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="https://www.linkedin.com/company/14973920?trk=vsrp_companies_res_name&trkInfo=VSRPsearchId%3A70600341470762074280%2CVSRPtargetId%3A14973920%2CVSRPcmpt%3Aprimary
"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p><strong>&copy; 2016 Property Cash Flows</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center m-t-lg m-b-lg">
            <p>
              <%= link_to "FAQ", '/faq', class:"navy-link" %>
            </p>
        </div>
        <div class="col-lg-3 text-center m-t-lg m-b-lg">
            <p>
              <%= link_to "Terms of Service", '/terms', class:"navy-link" %>
            </p>
        </div>
        <div class="col-lg-3 text-center m-t-lg m-b-lg">
          <p><%= link_to "Software Licensing Agreement", '/license', class:"navy-link" %></p>
        </div>
        <div class="col-lg-3 text-center m-t-lg m-b-lg">

            <p>
              <%= link_to "Privacy", '/privacy', class:"navy-link" %>
            </p>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center m-t-sm disclaimer">
      <p>Property Cash Flows does not provide tax advice. <br/> 
        You should consult your tax and/or legal advisors before <br/>
        implementing any transactions and/or strategies concerning your finances.</p>
      </div>
    </div>
</div>
</section>
<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('body').addClass('landing-page');
    $('body').attr('id', 'page-top');

    $('body').scrollspy({
        target: '.navbar-fixed-top',
        offset: 80
    });

    // Page scrolling feature
    $('a.page-scroll').bind('click', function(event) {
        var link = $(this);
        $('html, body').stop().animate({
            scrollTop: $(link.attr('href')).offset().top - 50
        }, 500);
        event.preventDefault();
        $("#navbar").collapse('hide');
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();


});

</script>

<% end %>
